<div class="card" style="width: 13.5rem;">
  <img class="card-img-top" src="../../assets/business_application_addthedatabase_add_insert_database_db_2313.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Admin can add products to database.</p>
    <button  mat-raised-button color="primary" class="btn" routerLink="/addproduct" routerLinkActive="active">Add Product</button>
  </div>
</div>
<div class="card1" style="width: 15rem;">
  <img class="card-img-top" src="../../assets/order_product_online_ecommerce_market_buy_icon_176857.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Admin can browse all products.</p>
    <button mat-raised-button color="primary" class="btn" routerLink="/products" routerLinkActive="active">Products</button>
  </div>
</div>

<router-outlet></router-outlet>  

