<h2>Products</h2>

<div class="mat-elevation-z8">
    
    <table mat-table [dataSource]="finalProductdata" matSort class="mat-elevation-z8">
     
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef >Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>

          <ng-container  matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef >Description</th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef >Price</th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
          </ng-container>

         
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
                <div>
                    <a mat-raised-button (click)="edit(element)" color="primary" data-bs-toggle="modal" 
                         data-bs-target="#exampleModal">Edit</a>
                  
                    <td>
                      <button
                      mat-raised-button color="warn"
                      class="confirm "
                      mwlConfirmationPopover
                      [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage"
                      placement="right"
                      (confirm)="deleteProduct(element.id)"
                      (cancel)="cancelClicked = true"
                    >
                    Delete
                    </button>
                </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayColums"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons 
  aria-label="Select page of periodic elements">
</mat-paginator>
</div>

<!-- 
<div class="panel panel-primary">
    <div class= panel-heading>
        <h2>PRODUCTS</h2>
      </div>
      <div class="panel-body">
        <table  id="datatable-example" class="display" width="100%">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of product">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            
            <td>
              <button
              mat-raised-button color="warn"
              class="confirm "
              mwlConfirmationPopover
              [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage"
              placement="right"
              (confirm)="deleteProduct(product.id)"
              (cancel)="cancelClicked = true"
            >
            Delete
            </button>
            </td>
          <td><button  mat-raised-button color="warn" style='margin-right:16px' (click)="deleteProduct(product.id)" class="btn">Delete</button>
         </td> -->
         <!-- </tr>
          </tbody>
        </table>
    </div>
  </div> -->


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Product *</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
        <form [formGroup]="updateForm" (ngSubmit)="updateProduct()">
          <div class="form-group">
            <label for="name">Name *</label>
            <input #name [(ngModel)]="productToUpdate.name" formControlName="name"
            name="name" id="name"  class="form-control" autocomplete="off" >
          </div>
          <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">
            <div *ngIf="f.name.errors?.['required']">
              Name is required.
            </div>
          </div>
         
          <div class="form-group">
            <label for="description">Description *</label>
            <input #description [(ngModel)]="productToUpdate.description" name="description" id="description" formControlName="description"
            class="form-control" autocomplete="off">
          </div>
          <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)" class="alert alert-danger">
            <div *ngIf="f.description.errors?.['required']">
              Description is required.
            </div>
          </div>

          <div class="form-group">
            <label for="price">Price *</label>
            <input #price [(ngModel)]="productToUpdate.price" formControlName="price"
            name="price" id="price"  class="form-control" autocomplete="off" >
          </div>
          <div *ngIf="f.price.invalid && (f.price.dirty || f.price.touched)" class="alert alert-danger">
            <div *ngIf="f.price.errors?.['required']">
              Price is required.
            </div>
          </div>
          <button class="btn btn-primary" [disabled]="updateForm.invalid" type="submit">Update</button>
        </form>
        </div>
      </div>
    </div>
  </div>
