.container{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.card {
    padding:30px;
    padding-top: 30px;
    size: 20%;
}
h1{
    text-align: center;  
}