<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username" >
              <span class="error" *ngIf="username?.invalid && username?.touched" >Username is Required</span>
            </mat-form-field> 
          
          
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <span class="error" *ngIf="password?.invalid && password?.touched" >Password is Required</span>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit">Login</button>
          </form>
    </mat-card>
</div>

  