<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Update Product</mat-toolbar>
        <div [hidden]="submitted">
            <form fxLayoutAlign="stretch" fxLayout="column" class="form-group" (ngSubmit)="onSubmit()">
                <mat-form-field>
                 
                    <input matInput placeholder="ID" type="text" class="form-control" id="id" required [(ngModel)]="products.id" name="id">
                </mat-form-field>

                <mat-form-field>
            
                    <input matInput placeholder="Name"type="text" class="form-control" id="name" required [(ngModel)]="products.name" name="name">
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput placeholder="Description" type="text" class="form-control" id="description" required [(ngModel)]="products.description"
                        name="description"><textarea></textarea>
                </mat-form-field>

                <mat-form-field>
                
                    <input matInput placeholder="Price" type="text" class="form-control" id="price" required [(ngModel)]="products.price"
                        name="price">
                </mat-form-field>


                <button mat-raised-button class="btn btn-success">Submit</button>
            </form>

        </div>
    </mat-card>
</div>